/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;700&display=swap');

/* Styles */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito', sans-serif;
    background-color: #eee;
}

p, span {
    font-weight: 500;
}

nav {
    display: flex;
    position:fixed;
    background-color: #fff;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    justify-content: center;    
    align-items: center;
    box-shadow: 0px 0px 10px -4px rgb(34, 34, 34);
    z-index: 1;
}

nav span,.login a {
    font-weight: 700;
    text-decoration: none;
}

nav .logo {    
    position: absolute;
    left: 0;
    padding-left: 30px;
    padding-top: 9px;
}

nav .logo span {
    position: absolute;
    left: 90px;
    top: 23.3px;    
}

nav .logo img {
    width: 50px;    
}

nav .login {
    position: absolute;
    right: 0;
    padding-right: 30px;
}

nav .menu a {
    font-size: 1.1rem;
    padding: 0 15px;
    color: #222;
    text-decoration: none;
    text-underline-offset: 7px;
}

nav .menu a:hover {
    text-decoration: underline;
}

header {
    height: 100vh;
    background: url('../images/hero-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: rgb(242, 242, 236);
    display: flex;
}

header.login {
    height: 100vh;
    background: url('../images/hero-bg-log.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: rgb(242, 242, 236);
    display: flex;
}

.judul {
    margin: auto;
    text-align: center;
}

.judul h1 {
    font-size: 7rem;
    font-weight: 700;
}

.judul p {
    font-size: 1.5rem;
}

.kelebihan {
    height: 300px;
    background-color: rgb(219, 219, 219);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 0px;
}

.text.kelebihan h3 {
    margin-top: 15px;
}

.kotak {
    text-align: center;
    transition: .3s;
    width: 30%;
    height: 80%;
}

.kotak:hover {
    transform: translateY(-15px);
}

.img-kel {
    height: 90px;
    width: 90px;
    border: 2px solid rgb(24, 24, 24);
    border-radius: 3px;
    display: inline-block;   
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.obat {
    margin: 50px 70px;
}

.obat h2 {
    font-size: 2.2rem;
    border: 3px solid rgb(114, 189, 72);
    border-top: none;
    border-right: none;
    border-left: none;
    width: 15%;
    margin-bottom: 80px;
    margin-left: 30px ;
}

.obat.vit h2 {
    width: 18%;
}

.flex {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.kartu {
    width: 300px;
    background-color: rgb(226, 226, 226);
    border-radius: 3px;
    overflow: auto;
    margin: 20px 0;
    transition: .3s;
    box-shadow: 0px 0px 10px -4px rgb(34, 34, 34);
}

.kartu:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 25px -5px rgb(34, 34, 34);
}

.img-kartu img {
    width: 80%;
    padding: 30px 30px 2px;
}

.bag-ket {
    padding: 7px 30px;
    padding-right: 26px;
    font-weight: 700;
    color: #222;
}

.bag-ket a:visited, .bag-ket a:link, .icon a:visited, .icon a:link, .login a:visited, .login a:link {
    color: #222;
}

.icon, .icon a {
    text-align: center;
    padding: 5px;
}

.keranjang i {
    float: right;
    margin-top: 20px;
    margin-right: 5px;
}

button {
    border-radius: 3px;
    padding: .8em 1.3em;
    font-weight: 700;
    transition: .3s;
    cursor: pointer;
}

.btn-selengkapnya {
    text-align: center;
}

.btn-selengkapnya button {
    border: none;
    background-color: rgb(114, 189, 72);
    font-size: 1.2rem;
}

.btn-selengkapnya button:hover {
    background-color: rgb(136, 212, 92);
}

.about {
    background-color: rgb(224, 224, 224);
    padding: 20px 0px;
}

.about h2 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 20px;
}

.img-about {
    display: flex;
    justify-content: center;
}

.img-about.index img {
    border-radius: 50%;
    width: 80px;
    padding: 0px 10px;
}

.tentang-kami {
    padding: 25px 0;
}

.tentang-kami h3 {
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
}

.img-about.tk img {
    border-radius: 15px;
}

.text {
    width: 50%;
    margin: auto;
}

.text h3 {
    margin-top: 10px;
}

.text.tk {
    margin: 10px auto 80px;
    border: 3px solid #222;
    border-radius: 5px;
}

.text.tk p {
    font-size: 1.2rem;
}


.text p{
    text-align: center;
    font-weight: 500;
    font-size: 1.1rem;
    margin: 20px;
}

.langganan, .kontak {
    width: 540px;
    text-align:left;
    margin: 50px 0 0 140px;
}

.langganan h3 {
    font-weight: 700;
    font-size: 4rem;
    margin-bottom: 15px;
}

.langganan span {
    display: inline-block;
    padding: 8px 0;
    font-size: 1.1rem;
}

.langganan .email {
    padding: 2px 0;
}

.langganan input {
    box-sizing: border-box;
    color:#222;
    border: none;
    width: 500px;
    height: 40px;
    font-size: .8rem;
    padding: 10px;
    outline: none;
}

.langganan button {
    margin-top: 10px;
    border: none;
    background-color: #fff;
}

.langganan button:hover {
    background-color: rgb(235, 235, 235);
}

.garis-hor {
    border-bottom: 2px solid #222;
    max-width: 200px;
    margin: 0 40%;
}

.garis-hor.login{
    border-bottom: 4px solid rgb(114, 189, 72);
    max-width: 200px;
    margin: -8px 30%;
}

.garis-hor.regis{
    border-bottom: 4px solid rgb(114, 189, 72);
    max-width: 200px;
    margin: -8px 30%;
}

.garis-hor.input {
    border-bottom:1px solid rgb(114, 189, 72);
    max-width: 100%;
    margin: 0;
    margin-top: -10px;
}

.garis-vert {
    border-left: 5px solid rgb(255, 255, 255);
    margin: 80px 0;
}

.kontak h3 {
    margin: 31px 0 25px 0;
    font-size: 1.5rem;
}

.kontak i {
    margin-right: 8px;
}

.kontak i, .kontak a {
    margin-bottom: 12px;
    font-size: 1.1rem;
    color: #fff;
    text-decoration: none;
}

.obat-ket{
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    color: #00000050;
}

.container {
    width: 400px;
    background-color: #eee;
    margin: auto;
    border-radius: 5px;
    color: #222;
    box-shadow: 0px 0px 10px rgb(255, 255, 255);
}

.container h1 {
    text-align: center;
    font-size: 3rem;
    padding-top: 20px;
}

form {
    padding: 30px 50px 30px;
}

footer form {
    padding: 30px 0 30px;
}

form label {
    display: inline-block;
    margin-top: 20px;
    font-weight: 600;
}

.container form input {
    width: 100%;
    height: 40px;
    font-size: .9rem;
    font-weight: 500;
    border: none;
    background-color: rgba(250, 235, 215, 0);
    outline: none;
}

.container a {
    text-decoration: none;
    color: #222;
    padding-left: 3px;
    font-weight: 600;
}

.container a:hover {
    color: #000;
}

.container .lupa-pw {
    float: right;
    color: rgb(100, 168, 61);
    font-weight: 500;
}

.container .lupa-pw:hover {
    color: rgb(136, 212, 92);
}

.container form button {
    display: flex;
    margin:  50px auto 0;
    width: 150px ;
    height: 40px;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: rgb(114, 189, 72);
}

.container form button:hover {
    background-color: rgb(136, 212, 92);
}

.container form span, .container form span {
    text-align: right;
    display: flex;
    justify-content: center;
    margin-top: 8px;
    color: rgb(100, 168, 61);
}

footer {
    background-color: rgb(2, 31, 2);
    height: 500px;
    color: #eee;
    display: flex;
    justify-content:space-between;
}